# 캘리포니아 주택 가격 데이터 이용한 `ElasticNet()` 모델 성능 높이기

## ElasticNet() 모델 성능 평가

In [ ]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split

california = fetch_california_housing()

model = ElasticNet(alpha=0.1, l1_ratio=0.2)

X_train, X_test, y_train, y_test = train_test_split(california.data, california.target, test_size=0.2)

model.fit(X_train, y_train)

print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 0.5855823837201637
평가 데이터 점수: 0.5913182684639027

## GridSearchCV() 통한 최적의 하이퍼 파라미터 찾기

In [ ]:
import pandas as pd
from sklearn.model_selection import GridSearchCV

param_grid = [ {'alpha': [0.001, 0.01, 0.05, 0.1, 0.2, 0.3],
                'l1_ratio': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6] } ]

gs = GridSearchCV(estimator=ElasticNet(), param_grid=param_grid, cv=5)
result = gs.fit(california.data, california.target)

print("최적 점수: {}".format(result.best_score_))
print("최적 파라미터: {}".format(result.best_params_))
print(gs.best_estimator_)
pd.DataFrame(result.cv_results_)

최적 점수: 0.5531766524937997
최적 파라미터: {'alpha': 0.001, 'l1_ratio': 0.1}
ElasticNet(alpha=0.001, copy_X=True, fit_intercept=True, l1_ratio=0.1,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0        0.029199      0.007706  ...        0.061987                1
1        0.021900      0.002376  ...        0.062021                2
2        0.021148      0.002339  ...        0.062055                3
3        0.021474      0.001727  ...        0.062090                4
4        0.027040      0.014495  ...        0.062124                5
5        0.020678      0.002369  ...        0.062159                6
6        0.017311      0.001369  ...        0.064336                7
7        0.016826      0.001808  ...        0.064718                8
8        0.016210      0.001448  ...        0.065121                9
9        0.016415      0.001890  ...        0.065547               10
10       0.015927      0.001369  ...        0.065998               11
11       0.015842      0.001545  ...        0.066476               12
12       0.013931      0.001125  ...        0.068458               13
13       0.013014      0.000883  ...        0.069762               14
14       0.012162      0.000742  ...        0.069663               15
15       0.012269      0.001526  ...        0.069847               16
16       0.014246      0.005363  ...        0.069978               18
17       0.011694      0.001272  ...        0.069383               19
18       0.011422      0.000991  ...        0.067784               17
19       0.010689      0.001330  ...        0.067525               20
20       0.010040      0.001214  ...        0.066541               21
21       0.009930      0.001061  ...        0.065323               22
22       0.008850      0.000645  ...        0.063802               23
23       0.008738      0.000650  ...        0.062051               25
24       0.008222      0.001099  ...        0.062873               24
25       0.007603      0.000510  ...        0.060543               26
26       0.007495      0.000451  ...        0.057897               28
27       0.007203      0.000261  ...        0.054821               30
28       0.006501      0.001322  ...        0.052571               32
29       0.005627      0.001510  ...        0.056138               33
30       0.006986      0.000412  ...        0.057921               27
31       0.006624      0.000248  ...        0.054877               29
32       0.006333      0.000312  ...        0.051685               31
33       0.005257      0.001281  ...        0.054456               34
34       0.004072      0.000782  ...        0.052028               35
35       0.003701      0.000083  ...        0.051082               36

[36 rows x 15 columns]

## Preprocessing - `StandardScaler`: 표준화

In [ ]:
from sklearn.preprocessing import StandardScaler

california = fetch_california_housing()
california_df = pd.DataFrame(data=california.data, columns=california.feature_names)
california_df.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...     35.631861   -119.569704
std        1.899822     12.585558  ...      2.135952      2.003532
min        0.499900      1.000000  ...     32.540000   -124.350000
25%        2.563400     18.000000  ...     33.930000   -121.800000
50%        3.534800     29.000000  ...     34.260000   -118.490000
75%        4.743250     37.000000  ...     37.710000   -118.010000
max       15.000100     52.000000  ...     41.950000   -114.310000

[8 rows x 8 columns]

In [ ]:
scaler = StandardScaler()
california_scaled = scaler.fit_transform(california_df)
california_df_scaled = pd.DataFrame(data=california_scaled, columns=california.feature_names)
california_df_scaled.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  2.064000e+04  2.064000e+04  ...  2.064000e+04  2.064000e+04
mean   3.734255e-16  8.557001e-16  ...  1.256263e-15 -6.527810e-15
std    1.000024e+00  1.000024e+00  ...  1.000024e+00  1.000024e+00
min   -1.774299e+00 -2.196180e+00  ... -1.447568e+00 -2.385992e+00
25%   -6.881186e-01 -8.453931e-01  ... -7.967887e-01 -1.113209e+00
50%   -1.767951e-01  2.864572e-02  ... -6.422871e-01  5.389137e-01
75%    4.593063e-01  6.643103e-01  ...  9.729566e-01  7.784964e-01
max    5.858286e+00  1.856182e+00  ...  2.958068e+00  2.625280e+00

[8 rows x 8 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(california_df_scaled, california.target, test_size=0.2)
model = ElasticNet(alpha=0.001, l1_ratio=0.1)
model.fit(X_train, y_train)

print("훈련 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

훈련 데이터 점수: 0.603019978699828
평가 데이터 점수: 0.6188119380297581

## cross_val_score(): 교차 검증

In [ ]:
import numpy as np
from sklearn.model_selection import cross_val_score, cross_validate

scores = cross_val_score(model, california.data, california.target, cv=5)

print("교차 검증 정확도: {}".format(scores))
print("교차 검증 정확도: {} +/- {}".format(np.mean(scores), np.std(scores)))

교차 검증 정확도: [0.55065917 0.46759593 0.5507877  0.53604231 0.66079815]
교차 검증 정확도: 0.5531766524937997 +/- 0.06198721845014342