# 와인 데이터 살펴보기

In [ ]:
from sklearn.datasets import load_wine

wine = load_wine()
print(wine.keys())
print(wine.target_names)
print(wine.DESCR)

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])
['class_0' 'class_1' 'class_2']
.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [ ]:
import pandas as pd

wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)
wine_df['Target'] = wine.target
wine_df

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  Target
0      14.23        1.71  2.43  ...                          3.92   1065.0       0
1      13.20        1.78  2.14  ...                          3.40   1050.0       0
2      13.16        2.36  2.67  ...                          3.17   1185.0       0
3      14.37        1.95  2.50  ...                          3.45   1480.0       0
4      13.24        2.59  2.87  ...                          2.93    735.0       0
..       ...         ...   ...  ...                           ...      ...     ...
173    13.71        5.65  2.45  ...                          1.74    740.0       2
174    13.40        3.91  2.48  ...                          1.56    750.0       2
175    13.27        4.28  2.26  ...                          1.56    835.0       2
176    13.17        2.59  2.37  ...                          1.62    840.0       2
177    14.13        4.10  2.74  ...                          1.60    560.0       2

[178 rows x 14 columns]

## 학습, 평가 데이터 분류

In [ ]:
from sklearn.model_selection import train_test_split

X, y = wine.data, wine.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print('전체 데이터 크기: {}'.format(X.shape))
print('학습 데이터 크기: {}'.format(X_train.shape))
print('평가 데이터 크기: {}'.format(X_test.shape))

전체 데이터 크기: (178, 13)
학습 데이터 크기: (142, 13)
평가 데이터 크기: (36, 13)

## 전처리

### 전처리 전 데이터

In [ ]:
wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)
wine_df.describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [ ]:
wine_train_df = pd.DataFrame(data=X_train, columns=wine.feature_names)
wine_train_df.describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  142.000000  142.000000  ...                    142.000000   142.000000
mean    12.976056    2.341127  ...                      2.640141   752.542254
std      0.839702    1.156191  ...                      0.698788   323.009598
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.330000    1.602500  ...                      2.052500   504.000000
50%     13.010000    1.870000  ...                      2.825000   666.000000
75%     13.700000    3.030000  ...                      3.177500  1007.500000
max     14.830000    5.800000  ...                      3.920000  1680.000000

[8 rows x 13 columns]

In [ ]:
wine_test_df = pd.DataFrame(data=X_test, columns=wine.feature_names)
wine_test_df.describe()

         alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  36.000000   36.000000  ...                     36.000000    36.000000
mean   13.097500    2.317500  ...                      2.499444   724.611111
std     0.693057    0.962097  ...                      0.752212   283.792709
min    11.650000    0.940000  ...                      1.330000   355.000000
25%    12.597500    1.637500  ...                      1.787500   493.250000
50%    13.220000    1.845000  ...                      2.600000   677.500000
75%    13.650000    3.140000  ...                      3.077500   924.250000
max    14.370000    4.310000  ...                      4.000000  1480.000000

[8 rows x 13 columns]

### 전처리 과정

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

### 전처리 후 데이터

In [ ]:
wine_train_df = pd.DataFrame(data=X_train_scale, columns=wine.feature_names)
wine_train_df.describe()

            alcohol    malic_acid  ...  od280/od315_of_diluted_wines       proline
count  1.420000e+02  1.420000e+02  ...                  1.420000e+02  1.420000e+02
mean   1.622333e-16 -1.229064e-15  ...                  1.042984e-15 -5.774675e-17
std    1.003540e+00  1.003540e+00  ...                  1.003540e+00  1.003540e+00
min   -2.325760e+00 -1.389731e+00  ...                 -1.967679e+00 -1.474328e+00
25%   -7.721113e-01 -6.411064e-01  ...                 -8.439195e-01 -7.721815e-01
50%    4.056656e-02 -4.089242e-01  ...                  2.654789e-01 -2.688731e-01
75%    8.651955e-01  5.979218e-01  ...                  7.717093e-01  7.921135e-01
max    2.215675e+00  3.002201e+00  ...                  1.838024e+00  2.881465e+00

[8 rows x 13 columns]

In [ ]:
wine_test_df = pd.DataFrame(data=X_test_scale, columns=wine.feature_names)
wine_test_df.describe()

         alcohol  malic_acid  ...  od280/od315_of_diluted_wines    proline
count  36.000000   36.000000  ...                     36.000000  36.000000
mean    0.145139   -0.020507  ...                     -0.202056  -0.086778
std     0.828282    0.835072  ...                      1.080262   0.881699
min    -1.584789   -1.216137  ...                     -1.881512  -1.235101
25%    -0.452418   -0.610727  ...                     -1.224490  -0.805580
50%     0.291541   -0.430623  ...                     -0.057647  -0.233144
75%     0.805440    0.693399  ...                      0.628098   0.533469
max     1.665922    1.708924  ...                      1.952913   2.260096

[8 rows x 13 columns]

# 나이브 베이스 분류기(Naive Bayes Classification)

## 가우시안 나이브 베이즈

In [ ]:
model = GaussianNB()
model.fit(X_train_scale, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
predict = model.predict(X_train_scale)
acc = metrics.accuracy_score(y_train, predict)
f1 = metrics.f1_score(y_train, predict, average=None)

print('Train Accuracy: {}'.format(acc))
print('Train F1 Score: {}'.format(f1))

Train Accuracy: 0.9859154929577465
Train F1 Score: [0.98901099 0.98181818 0.98795181]

In [ ]:
predict = model.predict(X_test_scale)

acc = metrics.accuracy_score(y_test, predict)
f1 = metrics.f1_score(y_test, predict, average=None)

print('Test Accuracy: {}'.format(acc))
print('Test F1 Score: {}'.format(f1))

Test Accuracy: 0.9722222222222222
Test F1 Score: [0.96       0.96969697 1.        ]

### `Cross_validate()`: 교차 검증

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.pipeline import make_pipeline
import multiprocessing

estimator = make_pipeline(StandardScaler(), GaussianNB())

cross_validate(
    estimator=estimator,
    X=X, y=y,
    cv=5,
    n_jobs=multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.0s finished

{'fit_time': array([0.00254655, 0.00249124, 0.00229311, 0.00220704, 0.00187302]),
 'score_time': array([0.00099492, 0.00083995, 0.00082517, 0.0008049 , 0.00051641]),
 'test_score': array([0.94444444, 0.97222222, 0.97222222, 0.94285714, 1.        ])}

## 베르누이 나이브 베이즈

In [ ]:
model = BernoulliNB()
model.fit(X_train_scale, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [ ]:
predict = model.predict(X_train_scale)
acc = metrics.accuracy_score(y_train, predict)
f1 = metrics.f1_score(y_train, predict, average=None)

print('Train Accuracy: {}'.format(acc))
print('Train F1 Score: {}'.format(f1))

Train Accuracy: 0.9436619718309859
Train F1 Score: [0.96842105 0.92307692 0.94117647]

In [ ]:
predict = model.predict(X_test_scale)

acc = metrics.accuracy_score(y_test, predict)
f1 = metrics.f1_score(y_test, predict, average=None)

print('Test Accuracy: {}'.format(acc))
print('Test F1 Score: {}'.format(f1))

Test Accuracy: 0.9444444444444444
Test F1 Score: [0.92307692 0.9375     1.        ]

### `Cross_validate()`: 교차 검증

In [ ]:
estimator = make_pipeline(StandardScaler(), BernoulliNB())

cross_validate(
    estimator=estimator,
    X=X, y=y,
    cv=5,
    n_jobs=multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.0s finished

{'fit_time': array([0.01035213, 0.00310516, 0.00413418, 0.00218463, 0.00258732]),
 'score_time': array([0.00085449, 0.00087261, 0.00075054, 0.00074768, 0.00066853]),
 'test_score': array([0.86111111, 0.91666667, 0.97222222, 0.94285714, 0.94285714])}

### `GridSearchCV()`: 최적의 하이퍼 파라미터 찾기

In [ ]:
from sklearn.model_selection import GridSearchCV
import multiprocessing

param_grid = [{'alpha': [0.001, 0.01, 0.05, 0.1, 0.2, 1.0, 10.0]}]

gs = GridSearchCV(estimator=BernoulliNB(), param_grid=param_grid, n_jobs=multiprocessing.cpu_count())
gs.fit(X_train_scale, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None,
                                   fit_prior=True),
             iid='deprecated', n_jobs=2,
             param_grid=[{'alpha': [0.001, 0.01, 0.05, 0.1, 0.2, 1.0, 10.0]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
gs.best_estimator_

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [ ]:
print("GridSearchCV Score: {}".format(gs.best_score_))

GridSearchCV Score: 0.9298029556650247

## 다항 나이브 베이즈

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [ ]:
model = MultinomialNB()
model.fit(X_train_scale, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
predict = model.predict(X_train_scale)
acc = metrics.accuracy_score(y_train, predict)
f1 = metrics.f1_score(y_train, predict, average=None)

print('Train Accuracy: {}'.format(acc))
print('Train F1 Score: {}'.format(f1))

Train Accuracy: 0.9647887323943662
Train F1 Score: [0.94382022 0.95575221 1.        ]

In [ ]:
predict = model.predict(X_test_scale)

acc = metrics.accuracy_score(y_test, predict)
f1 = metrics.f1_score(y_test, predict, average=None)

print('Test Accuracy: {}'.format(acc))
print('Test F1 Score: {}'.format(f1))

Test Accuracy: 0.9166666666666666
Test F1 Score: [0.86956522 0.91428571 1.        ]

### `Cross_validate()`: 교차 검증

In [ ]:
estimator = make_pipeline(MinMaxScaler(), MultinomialNB())

cross_validate(
    estimator=estimator,
    X=X, y=y,
    cv=5,
    n_jobs=multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.8s finished

{'fit_time': array([0.00309801, 0.0026319 , 0.00179219, 0.0032115 , 0.00175691]),
 'score_time': array([0.00073791, 0.00065994, 0.00059366, 0.00059438, 0.0006361 ]),
 'test_score': array([0.91666667, 0.94444444, 0.88888889, 0.97142857, 1.        ])}

### `GridSearchCV()`: 최적의 하이퍼 파라미터 찾기

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = [{'alpha': [1.0, 1.2, 1.4, 1.6, 1.8, 2.0]}]

gs = GridSearchCV(estimator=MultinomialNB(), param_grid=param_grid)
gs.fit(X_train_scale, y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=MultinomialNB(alpha=1.0, class_prior=None,
                                     fit_prior=True),
             iid='deprecated', n_jobs=None,
             param_grid=[{'alpha': [1.0, 1.2, 1.4, 1.6, 1.8, 2.0]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
gs.best_estimator_

MultinomialNB(alpha=1.6, class_prior=None, fit_prior=True)

In [ ]:
print("GridSearchCV Score: {}".format(gs.best_score_))

GridSearchCV Score: 0.9650246305418719